.container {
    position:relative;
    text-align: center;
}

.container video {
    position:relative;
    z-index:0;
}

.overlay {
    position:absolute;
    top:150px;
    left:200px;
    z-index:1;
}